.pie-chart-wrapper {
  height: 400px;

  .pie-chart-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    span {
      font-size: 25px;
    }
  }
}
