.info-tag {
  display: flex;
  justify-content: center;
}

#portfolio-details-page {
  .table-component {
    .header-item:nth-child(n + 3),
    .table-row > .row-data:nth-child(n + 3) {
      display: flex;
      justify-content: flex-end;
    }

    .header-item:nth-child(3),
    .table-row > .row-data:nth-child(3) {
      justify-content: center;
    }
  }

  .chart-wrapper {
    margin-top: 40px;
  }

  .charts {
    display: flex;
    justify-content: center;

    .chart-wrapper {
      width: 45%;
    }
  }
}
