.MuiFormControl-root {
  .MuiOutlinedInput-root {
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
  }

  .MuiBox-root {
    overflow: hidden;
    .MuiChip-root {
    }
  }
}

ul {
  li {
    display: flex;

    .item {
      width: 100%;
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }
    }
  }
}
