@import 'styles/colors.scss';

.table-row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  padding: 5px;
  font-size: 12px;
  column-gap: 10px;

  &.deleting {
    background-color: $red;
    color: white;
  }

  &:hover {
    .row-data {
      color: #4f86c6;
    }
  }

  .row-data {
    &:hover {
      cursor: pointer;
    }
  }
}

.header {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
}

.actions {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;

  svg + svg {
    margin-left: 10px;
  }
}
