@import "styles/colors.scss";

#auth-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    .auth-form {
        width: 400px;
        height: auto;
        background-color: white;
        border-radius: 3px;
        border: 1px solid black;

        main {
            padding: 10px;
        }

        .logo {
            width: 100%;
            height: 100px;
            color: white;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            background-color: black;
        }

        .input-component-wrapper + .input-component-wrapper {
            margin-top: 20px;
        }

        .buttons-wrapper {
            padding-top: 40px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}